.grid-container {
    background-color: #b7d662;
    padding: 20px; 
  }

  .header {
    background-color: #b7d662;
    padding: 20px; 
    font-weight: bold;
  }

  ion-content{
    --ion-background-color:#b7d662;
}