.grid-container {
    background-color: #b7d662;
    padding: 20px; 
  }

  .header {
    background-color: #b7d662;
    padding: 20px; 
    font-weight: bold;
  }
.content{
  background-color: #b7d662;
  padding: 20px; 
}
.label{
  font-weight: bold;
}